# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS system files
desktop.ini
.DS_Store
Thumbs.db

# Image & binary artifacts
*.pyd
*.dll
*.exe
*.h5
*.tflite
*.pb
